@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Varela+Round&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main .title {
  font-family: "Rubik Dirt", cursive;
  font-weight: lighter;
  font-size: 50px;
  opacity: 0.8;
  cursor: none;
}
main .grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-items: center;
  font-family: "Varela Round", sans-serif;
  font-size: 60px;
  font-weight: bold;
}
main .grid__cell {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  cursor: pointer;
  caret-color: transparent;
}
main .grid__cell--text {
  opacity: 1;
}
main .grid__cell--text:hover {
  opacity: 0.2;
}
main .grid__cell:nth-child(-n+3) {
  border-top: none;
}
main .grid__cell:nth-child(3n) {
  border-right: none;
}
main .grid__cell:nth-child(3n-2) {
  border-left: none;
}
main .grid__cell:nth-child(n+7) {
  border-bottom: none;
}
main .grid__cell.x, main .grid__cell.o {
  cursor: not-allowed;
}
main .grid.X .grid__cell:not(.x):not(.o):hover::before {
  content: "X";
  color: lightgrey;
}
main .grid.O .grid__cell:not(.x):not(.o):hover::before {
  content: "O";
  color: lightgrey;
}
main .trapdoor {
  transform: translateZ(0px);
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  box-shadow: inset -7px 0px 12px -8px rgba(0, 0, 0, 0.3), inset 7px 0px 12px -8px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3);
  transition: background 400ms ease-in-out;
}
main .trapdoor:hover {
  background: #fff;
}
main .trapdoor:hover .door {
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.4);
  transform: scale(1.08);
}
main .trapdoor:hover .top {
  top: -50%;
}
main .trapdoor:hover .bottom {
  top: 100%;
}
main .trapdoor__button {
  background-color: black;
  color: white;
  border: solid 1px black;
  font-family: "Varela Round", sans-serif;
  width: 160px;
  height: 30px;
  border-radius: 25px;
  font-size: 13px;
  font-weight: bold;
}
main .trapdoor__button:active {
  transform: scale(0.93);
}
main .trapdoor__button:hover {
  background-color: white;
  color: black;
}
main .top {
  top: 0%;
  left: 0px;
}
main .top:before {
  top: 5px;
}
main .bottom {
  top: 50%;
  left: 0px;
}
main .bottom:before {
  top: -20px;
}
main .door {
  transition: top 400ms, box-shadow 200ms, transform 300ms;
  transition-timing-function: ease-in-out;
  background-color: #fff;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 50%;
}

.message {
  display: none;
  background-color: black;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Rubik Dirt", cursive;
  font-size: 2rem;
  caret-color: transparent;
  cursor: pointer;
}
.message--button {
  border-radius: 20px;
  font-size: 15px;
  font-family: "Varela Round", sans-serif;
  height: 2.8rem;
  width: 9rem;
  cursor: pointer;
  border: none;
  font-weight: bold;
  margin-top: 15px;
}
.message--button:active {
  transform: scale(0.93);
}
.message--button:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
  font-weight: bold;
}

.message.show {
  display: flex;
}

@media screen and (min-width: 768px) {
  main .title {
    font-size: 75px;
  }
  main .trapdoor {
    width: 280px;
  }

  .message {
    font-size: 3rem;
  }
  .message--button {
    font-size: 17px;
    font-family: "Varela Round", sans-serif;
    height: 3rem;
    width: 10rem;
  }
}