@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Varela+Round&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main .title {
  font-family: "Rubik Dirt", cursive;
  font-weight: lighter;
  font-size: 50px;
  opacity: 0.8;
}
main .grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-items: center;
  font-family: "Varela Round", sans-serif;
  font-size: 60px;
  font-weight: bold;
}
main .grid__cell {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  cursor: pointer;
}
main .grid__cell--text {
  opacity: 1;
}
main .grid__cell--text:hover {
  opacity: 0.2;
}
main .grid__cell:nth-child(-n+3) {
  border-top: none;
}
main .grid__cell:nth-child(3n) {
  border-right: none;
}
main .grid__cell:nth-child(3n-2) {
  border-left: none;
}
main .grid__cell:nth-child(n+7) {
  border-bottom: none;
}
main .grid__cell.x, main .grid__cell.o {
  cursor: not-allowed;
}
main .grid.x .grid__cell:not(.x):not(.o):hover::before {
  content: "X";
  color: lightgrey;
}
main .grid.o .grid__cell:not(.x):not(.o):hover::before {
  content: "O";
  color: lightgrey;
}

.message {
  display: none;
  background-color: black;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Rubik Dirt", cursive;
  font-size: 2rem;
}
.message--button {
  border-radius: 20px;
  font-size: 15px;
  font-family: "Varela Round", sans-serif;
  height: 2.8rem;
  width: 9rem;
  cursor: pointer;
  border: none;
  font-weight: bold;
  margin-top: 15px;
}
.message--button:active {
  transform: scale(0.93);
}
.message--button:hover {
  background-color: black;
  color: white;
  border: 3px solid white;
  font-size: 15px;
}

.message.show {
  display: flex;
}

@media screen and (min-width: 768px) {
  body {
    height: 90vh;
  }
  body .title {
    font-size: 75px;
  }
  body .grid {
    font-size: 90px;
    font-weight: bold;
  }
  body .grid__cell {
    width: 150px;
    height: 150px;
  }
}