@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Varela+Round&display=swap');

$game-font: 'Varela Round', sans-serif;
$title-font: 'Rubik Dirt', cursive;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Main Content
main {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .title {
        font-family: $title-font;
        font-weight: lighter;
        font-size: 50px;
        opacity: 0.8;
        cursor: none;
    }
    
    .grid{
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-items: center;
        font-family: $game-font;
        font-size: 60px;
        font-weight: bold;
    
        &__cell {
            width: 100px;
            height: 100px;
            border: 1px solid rgba(0, 0, 0, 0.4);
            display: flex;
            justify-content: center;
            align-items: center;   
            padding: 40px;
            cursor: pointer;
            caret-color: transparent;

            &--text {
                opacity: 1;
                
            }

            &--text:hover {
                opacity: 0.2;
            }
        }

        &__cell:nth-child(-n + 3){
            border-top: none;
        }
    
        &__cell:nth-child(3n){
            border-right: none;
        }
    
        &__cell:nth-child(3n - 2){
            border-left: none;
        }
    
        &__cell:nth-child(n + 7){
            border-bottom: none;
        } 

        &__cell.x,
        &__cell.o {
            cursor: not-allowed;
        }
    }

    // Grid Class Hover
    .grid.X .grid__cell:not(.x):not(.o):hover::before {
        content: "X";
        color: lightgrey;
    }

    .grid.O .grid__cell:not(.x):not(.o):hover::before {
        content: "O";
        color: lightgrey;
    }

    // Trap Door
    .trapdoor {
        transform: translateZ(0px);
        -webkit-font-smoothing: antialiased;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 50px;
        box-shadow: inset -7px 0px 12px -8px rgba(0,0,0,0.3), inset 7px 0px 12px -8px rgba(0,0,0,0.3);
        background: rgba(0,0,0,0.3);
        transition: background 400ms ease-in-out;
        
        &:hover {
            background: #fff;
          
            .door {
                box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.4);
                transform: scale(1.08);
            }
            .top {
                top: -50%; 
            }
            .bottom {
                top: 100%; 
            }
        }
        
        &__button {
            background-color: black;
            color: white;
            border: solid 1px black;
            font-family: $game-font;
            width: 160px;
            height: 30px;
            border-radius: 25px;
            font-size: 13px; 
            font-weight: bold;
        }

        &__button:active {
            transform: scale(0.93);
        }

        &__button:hover {
            background-color: white;
            color: black;
        }
    }
      
    .top {
        top: 0%;
        left: 0px;
        
        &:before {
            top: 5px;
        }
    }
      
    .bottom {
        top: 50%;
        left: 0px;
        
        &:before {
            top: -20px;
        }
    }
      
    .door {
        transition: top 400ms, box-shadow 200ms, transform 300ms;
        transition-timing-function: ease-in-out;
        background-color: #fff;
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 50%;
    }
}

// Winning message
.message {
    display: none;
    background-color: black;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: $title-font;
    font-size: 2rem;
    caret-color: transparent;
    cursor: pointer;

    &--button {
        border-radius: 20px;
        font-size: 15px;
        font-family: $game-font;
        height: 2.8rem;
        width: 9rem;
        cursor: pointer;
        border: none;
        font-weight: bold;
        margin-top: 15px;
    }

    &--button:active {
        transform: scale(0.93);
    }

    &--button:hover {
        background-color: black;
        color: white;
        border: 2px solid white;
        font-weight: bold;
    }
}

// Show winning message when start/result
.message.show {
    display: flex;
}

@media screen and (min-width: 768px) { 
    main {
        .title {
            font-size: 75px; 
        }

        .trapdoor {
            width: 280px;
        }
    }
    
    .message {
        font-size: 3rem;

        &--button {
            font-size: 17px;
            font-family: $game-font;
            height: 3rem;
            width: 10rem;
        }
    } 
}




